version: 2.1

orbs:
  semantic-release: trustedshops-public/semantic-release@5.1.1
  go: circleci/go@3.0.3
  codecov: codecov/codecov@3.3.0
  aws-cli: circleci/aws-cli@4.1.3
  terraform-utils: trustedshops-public/terraform-utils@3.0.0

executors:
  go:
    docker:
      - image: cimg/go:1.21

jobs:
  test-monitor:
    executor: go
    working_directory: ~/project/monitor
    steps:
      - checkout:
          path: ..
      - go/mod-download-cached
      - run:
          name: Run tests
          command: |
            gotestsum --junitfile unit-tests.xml
            make save-coverage-report
      - run:
          name: Get test coverage
          command: |
            go test -race -coverprofile=coverage.txt -covermode=atomic  -v ./...
      - codecov/upload
      - store_test_results:
          path: unit-tests.xml
      - store_artifacts:
          path: unit-tests.xml
      - store_artifacts:
          path: coverage.html
  build-monitor:
    executor: go
    working_directory: ~/project/monitor
    steps:
      - checkout:
          path: ..
      - go/mod-download-cached
      - run:
          name: Build binary for module
          command: |
            make build-multiplatform
      - persist_to_workspace:
          root: ~/project/
          paths:
            - monitor/dist/
  test-terraform-module:
    executor: go
    working_directory: ~/project/terraform/tests
    steps:
      - checkout:
          path: ../..
      - attach_workspace:
          at: ~/project/
      - go/mod-download-cached
      - aws-cli/setup:
          role_arn: $AWS_WEB_IDENTITY_ROLE_ARN
      - terraform-utils/install_tfenv
      - run:
          name: Run terratest
          command: |
            source $BASH_ENV
            go test

workflows:
  version: 2
  continuous:
    jobs:
      - build-monitor
      - test-terraform-module:
          context: terratest
          requires:
            - build-monitor
      - test-monitor:
          requires:
            - build-monitor
      - semantic-release/with_existing_config:
          name: semantic-release
          additional_packages: "@semantic-release/exec@6.0.3"
          attach_workspace: true
          workspace_root: ~/project
          context:
            - semantic-release
          requires:
            - build-monitor
            - test-monitor
            - test-terraform-module
          filters:
            branches:
              only: [main]
